/* IMPORTS 
   ======================================= */
@import 'bourbon/bourbon'
@import 'globals/globals'

/* WRAPPERS 
   ======================================= */
.wrapper 
    width: 100%
    max-width: 580px
    margin: 0 auto
    padding: 0 20px

/* CARD
   ======================================= */
.card 
    border-radius: 0            !important
    box-shadow: none            !important
    width: 100%                 !important
    max-width: 100%             !important
    border: 1px solid #E0E0E0   !important
    margin: 20px 0              !important

    .header 
        font:
            family: Pangram_Medium !important
            size: 0.9rem !important
            weight: 500 !important
        color: #212121
        margin-bottom: 5px

    .meta 
        font-size: 0.850rem !important
        color: #009688 !important

    .description
        font:
            family: pangram    
            size: 0.850rem !important
        color: #757575 !important
        line-height: 25px

/* MESSAGE
   ======================================= */
.message 
    border-radius: 0 !important 
    font-size: 0.90rem !important

/* NAV
   ======================================= */
.nav 
    height: 70px
    max-width: 100% !important 
    padding: 0 40px !important
    background-image: linear-gradient(90deg, #2196F3, #03A9F4) 
    display: flex
    +position(fixed, 0 null null 0)
    z-index: 4
    justify-content: space-between 
    align-items: center 

    .logo 
        color: #ffffff
        font-size: 0.9rem !important

    .menu  
        display: flex
        align-items: center
        
        li 
            margin-left: 20px

        a 
            color: #FFFFFF
            font-size: 0.9rem !important

        span.user 
            color: #FFFFFF
            font-size: 0.9rem !important

            &:after 
                content: " | "
                padding: 0 2.5px 0 10px


/* DASHBOARD
   ======================================= */
.dashboard 

/* NOTIFICATIONS
   ======================================= */
.notifications 
    +position(fixed, 70px 0 null null)
    +size(350px, 100vh)
    background: #ffffff
    border-left: 1px solid #E0E0E0

    @media only screen and (max-width: 800px)
        right: -400px

    .container
        width: 100%
        max-width: 100%
        //padding: 20px

        .segments
            border-radius: 0 !important
            box-shadow: none !important
            border: none !important
            //margin: 30px 0 !important

        .segment
            border-radius: 0 !important
            border:
                top: none
                right: none
                bottom: 1px solid #E0E0E0 !important 
                left: none
            display: flex
            justify-content: space-between

            &:nth-child(1) 
                border-top: 1px solid #E0E0E0 !important 

            p 
                font:
                    family: pangram    
                    size: 0.850rem !important
                color: #757575 !important
                line-height: 25px
                width: 100%

            span 
                font-size: 0.80rem !important
                color: #009688 !important
                width: 100%
                text-align: right

/* PROJECT LIST
   ======================================= */
.projects
    margin-top: 120px 

/* PROJECT DETAILS
   ======================================= */
.project-details 
    margin-top: 120px

    span 
        font-size: 0.850rem !important
        color: rgba(#000000, 0.4)

        &:nth-child(2)
            color: #009688 !important

    .header 
        display: flex
        flex-direction: column

    .title 
        font:
            family: Pangram_Medium !important
            size: 0.9rem !important
            weight: 500 !important
        color: #212121
        margin-bottom: 5px

    .content 
        font:
            family: pangram    
            size: 0.9rem !important
        color: #757575 !important
        margin: 20px 0
        line-height: 25px

/* SIGN IN & SIGN UP
   ======================================= */
.signin, 
.signup
    margin-top: 150px
    max-width: 400px !important

    .form 
        padding: 20px
        border: 1px solid #E0E0E0 
    
    h4 
        font-size: 1rem !important
        text-align: center
        padding-bottom: 30px

    input 
        color: #009688 !important

    .button 
        margin-top: 20px

/* CREATE PROJECT
   ======================================= */
.create-project 
    margin-top: 120px
    max-width: 500px !important

    h4 
        font-size: 1rem !important
        padding-bottom: 30px

    input 
        color: #009688 !important
        
    textarea 
        resize: none !important
        color: #009688 !important